@import '../../styles/root'
@import '../../styles/global'

.users--header
    display: flex
    justify-content: space-between
    padding: $default-padding
    align-items: center


.users--list-of-users
    font-size: $font-largest
    font-weight: $font-weight-heavy


.users--add-users
    background-color: $primary-blue
    color: $default
    border: none
    border-radius: $large-radius
    font-size: $font-large
    font-weight: $font-weight-heavy
    padding: $medium-padding

    &:hover
        opacity: 0.8

.cards
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    gap: 100px
    padding: $default-padding
    
// error handling

.error
    color: $primary-red
    font-size: $font-small

@media (max-width: $small-screen)
    .users--header
        flex-direction: column
        gap: 20px